{% extends 'base.html.twig' %}

{% block title %}{{ champion.name }}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    </script>
    <script src="https://kit.fontawesome.com/473fbd60b8.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}
    <body class="backChampSelect"
          style=" background: url({{ champion.picture }}) no-repeat center center fixed;-webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;">
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div>
                    <a href="{{ path('home') }}" type="button" class="btn"><i class="fa-solid fa-circle-left"></i></a>
                    <a class="navbar-brand">{{ champion.name }}</a>
                </div>

            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid place-to-footer"
             style="background-color: white; overflow: hidden; display: flex; justify-content: center;box-shadow: 10px 5px 15px black; border-radius: 15px; align-items: center; width: 50vw; margin: 20vh auto ">
            <div id="fond" class="row">
                <div class="col-md-12  flex-column p-3">
                    <h1 class="text-center"><b>{{ champion.name }}</b></h1>
                    <h5> TIPS PRO :</h5>
                    <p>{{ champion.tips }}</p>
                    <h5> TIPS :</h5>
                    <p>
                        {% for tips in info.enemytips %}
                            - {{ tips }}<br>
                        {% endfor %}
                    </p>
                    <h5> SPELLS : <i>Passer votre curseur sur les spells</i></h5>
                    <div class="row">
                        {% for i in 0..3 %}
                            <div class="mb-2">
                                <img style='float:left;' title="{{ info.spells[i].description }}" src=
                                'https://ddragon.leagueoflegends.com/cdn/12.4.1/img/spell/{{ info.spells[i].id }}.png'/>
                                <p style="text-align: left; margin-top: 20px; margin-left: 70px">
                                    {% for cooldown in info.spells[i].cooldown %}
                                            {{ cooldown }} sec /
                                    {% endfor %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
